@font-face {
  font-family: 'Sanchez';
  src: url('caminho/para/sanchez.woff') format('woff');
  /* Substitua pelo caminho real do arquivo .woff */
}

body {
  font-family: "Sanchez", sans-serif;
}

main {
  margin-top: 20px;
}

aside {
  background-color: #004A8D;
  padding: 20px;
  color: white;

}

aside .logo {
  height: 130px;
  margin: top;
  margin-left: 110px;
  margin-bottom: 170px;
}

aside h2 {
  text-align: center;
}

aside hr {

  border: 1px solid rgb(255, 255, 255);
}

aside button {
  background-color: #FFFFFF;
  color: #004A8D;
  border: none;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

aside button:hover {
  background-color: #F68B1F;
  color: white;
}

.container {
  margin-bottom: 20px;
}

.dashboard {
  margin-bottom: 5%;
}

.botoesInferior {
  align-items: flex-end;
  flex-direction: column;
  padding: 5px;
  margin-top: 240%;
  border-radius: 10px;
  width: 100%;
  border: none;
}

.sair {
  background-color: #3498db;
  /* Cor de fundo do botão */
  border: none;
  color: white;
  /* Cor do texto */
  padding: 10px 20px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


.dadosUsuario {
  background-color: #3498db;
  /* Cor de fundo do botão */
  border: none;
  color: white;
  /* Cor do texto */
  padding: 10px 20px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.botoesInferior :hover {
  background-color: #3498db;
}